# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env
.env.environment
.env.production
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local
config.ts

# Build output
dist/
dist-ssr

# Coverage reports
coverage/

# Temporary files
.cache/

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Vite cache
vite.config.js